body {
  margin: 0px;
  font-family: sans-serif;
}

h2 {
  margin-left: 5%;
}

.logo img {
  width: 50%;
  margin-left: 25%;
  padding-top: 30px;
}

.lieux {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #d2d7d8;
  width: 100%;
  margin-top: 15px;
  font-size: 16px;
}

.font {
  background-color: #F2F2F2;
  padding-top: 10px;
  padding-bottom: 60px;
}

.titre h1 {
  text-align: center;
  padding-top: 20px;
  font-size: x-large;
}

.stitre {
  text-align: center;
  font-size: 18px;
  padding-bottom: 5px;
  color: grey;
}

.fonc {
  padding-top: 15px;
}

.btn_1 {
  border-radius: 50px;
  width: 60%;
  height: 50px;
  margin-left: 20%;
  color: white;
  margin-top: 15px;
  background: linear-gradient(to bottom right, #f3aafd, #530d64);
}
.btn_1 p {
  text-align: center;
  padding-top: 15px;
}

.bloc_nav {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  padding-bottom: 100px;
  padding-top: 0px;
}

.nav1, .nav2 {
  display: inline-flex;
  border-radius: 20px;
  background-color: #F2F2F2;
  width: 85%;
  height: 75px;
  align-items: center;
  gap: 30px;
}
.nav1 i, .nav2 i {
  color: grey;
}
.nav1 .rond, .nav2 .rond {
  background-color: #a258b4;
  color: white;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
  margin-left: -5%;
}

.nav2 {
  background-color: #e4d7f5;
}
.nav2 i {
  color: #c053db;
}

.rest {
  margin-top: 50px;
  margin-bottom: -20px;
}

.nouveau {
  position: absolute;
  background-color: #a5f8dc;
  width: 80px;
  margin-bottom: 58%;
  margin-left: 78%;
  color: green;
  border-radius: 5px;
}
.nouveau p {
  margin-top: 7px;
  margin-bottom: 7px;
}

.cards {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 30px;
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
}
.cards img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  width: 100%;
}
.cards a {
  text-decoration-color: white;
  color: black;
}
.cards .content {
  display: inline-flex;
  align-items: center;
  width: 100%;
  gap: 20%;
}
.cards .content1 {
  flex-direction: column;
  width: 90%;
}
.cards h3 {
  margin-left: 5%;
}
.cards p {
  margin-left: 5%;
}

.restaurant__heart {
  position: relative;
  display: flex;
  cursor: pointer;
  margin: 22px 25px 0 0;
}

.restaurant__heart:hover .full {
  transform: scale(1.05);
  opacity: 1;
}

.restaurant__heart:hover .empty {
  animation: stroke_off 1s forwards;
}

.restaurant .full {
  opacity: 0;
  transform-origin: 50% 10%;
  transform: scale(0);
  transition: all 1s ease-in-out;
}

.restaurant__heart_empty {
  position: absolute;
  top: -1px;
  left: -1px;
}

.symb:hover {
  margin-right: 5%;
}
.symb:hover .fas {
  color: #c053db;
}
.symb:hover .far {
  display: none;
}

.resto {
  display: inline-flex;
  flex-direction: column;
  background-color: #F2F2F2;
  width: 100%;
  margin-top: -30px;
  padding-bottom: 65px;
  gap: 20px;
}

.footer {
  display: inline-flex;
  flex-direction: column;
  background-color: #303030;
  width: 100%;
  padding-top: 40px;
  height: 200px;
}

.logo_2 img {
  width: 30%;
  margin-bottom: 30px;
  margin-top: -10px;
}

.texte_footer {
  color: white;
  margin-left: 5%;
}
.texte_footer p {
  margin-top: 0px;
}

.symb_footer {
  display: inline-flex;
  flex-direction: column;
}

.symb_footer1 {
  display: inline-flex;
  align-items: center;
  gap: 15px;
}

.page {
  display: inline-flex;
  align-items: center;
}
.page i {
  margin-left: 100%;
}

.cards_2 {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}
.cards_2 img {
  width: 100%;
}

.content_2 {
  background-color: #F2F2F2;
  align-items: center;
  justify-content: space-between;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  margin-top: -50px;
}
.content_2 h1 {
  margin-left: 5%;
  margin-top: 40px;
  font-style: italic;
}
.content_2 i {
  float: right;
  margin-right: 10%;
}

.animation {
  display: inline-flex;
  width: 100%;
}

.select {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 15px;
  cursor: pointer;
}
.select p {
  margin-left: 10px;
  font-size: small;
}
.select h3 {
  margin-left: 10px;
  font-size: medium;
}

.select :hover + .transition {
  width: 20%;
  transition-duration: 1s;
}
.select :hover + .transition .circle {
  justify-content: center;
  transform: rotate(360deg);
  transition-duration: 0.5s;
}
.select :hover + .transition i {
  display: inherit;
  margin-left: 35%;
  margin-top: 30px;
  font-size: x-large;
  color: white;
}

.transition {
  width: 0%;
  height: 80px;
  background-color: #3de6d7;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.transition i {
  display: none;
}

.texte {
  width: 75%;
}

.prix {
  margin-top: 38px;
  margin-left: 12%;
}

.page_menu {
  background-color: #F2F2F2;
  width: 100%;
  padding-bottom: 100px;
}

.part_1 {
  display: inline-flex;
  flex-direction: column;
  width: 96%;
  gap: 20px;
}
.part_1 h2 {
  border-bottom: #3de6d7 solid;
  width: 60px;
  margin-bottom: -10px;
}

.part_2 {
  display: inline-flex;
  flex-direction: column;
  width: 96%;
  gap: 20px;
}
.part_2 h2 {
  border-bottom: #3de6d7 solid;
  width: 60px;
  margin-bottom: -10px;
}

.part_3 {
  display: inline-flex;
  flex-direction: column;
  width: 96%;
  gap: 20px;
}
.part_3 h2 {
  border-bottom: #3de6d7 solid;
  width: 60px;
  margin-bottom: -10px;
}

.bouton_2 {
  background-color: #FF79DA;
  border-radius: 50px;
  width: 50%;
  height: 50px;
  margin-left: 25%;
  margin-top: 75px;
  margin-bottom: 75px;
  color: white;
}
.bouton_2 p {
  margin-left: 28%;
  padding-top: 15px;
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
  .btn_1 {
    width: 30%;
    height: 50px;
    margin-left: 35%;
  }

  .bouton_2 {
    width: 30%;
    margin-left: 35%;
  }
  .bouton_2 p {
    margin-left: 30%;
  }

  .select {
    display: inline-flex;
    justify-content: space-between;
  }

  .nouveau {
    margin-left: 600px;
    margin-bottom: 400px;
  }
}
@media only screen and (min-width: 993px) {
  .select {
    display: inline-flex;
    justify-content: space-between;
  }

  .nouveau {
    margin-left: 1600px;
    margin-bottom: 800px;
  }

  .bouton_2 {
    width: 30%;
    margin-left: 35%;
  }
  .bouton_2 p {
    margin-left: 40%;
  }
}

/*# sourceMappingURL=style.css.map */
